

p {
    color: rgb(217, 51, 51);
  }
  
  blockquote {
    color: #0000ff;
  }
  
  

p1 {color: black;}

head {text-align: center;width:1000px;
  margin:0 auto;}
p {text-align: center;width:1000px;
  margin:0 auto;white-space: pre;}
title {text-align: center;width:1000px;
  margin:0 auto;}
body {text-align: center;width:1000px;
  margin:0 auto; font-family: verdana; font-size: 18px;}
h3 {background-color:mediumslateblue;}


